@font-face { font-family: Lobster; src: url(Lobster-Regular.ttf)}

* {
    border: 0;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 60px;
    background:rgb(240,120,20);
    padding:5px;
    border-radius:10px;
}

.div3 {
    height: 400px;
    background-image:url(orange&blackChecker.png);
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-family:Lobster;
    width: 100%;
}
.div4 {
    background-image:url(cyan.png);
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-family:Lobster;
    width: 100%;
}
.text {
    font-size:2rem;
    padding:3rem;
    font-weight:400;
    background-color:#333;
    color: white;
    display: flex;
    justify-content: center;
}
.arrow {
    height:100px;
    width:auto;
}
.button {
    background-color:#333;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    color:white;
    font-size:2rem;
    font-weight:400;
}